.card {
  width: 250px;
  padding: 10px;
  border: solid 1px #C8D4E5;
  color: #2C3F70;
}

h2 {
  margin: 8px 0px 16px 0px;
  text-align: center;
  font-size: 18px;
}

p {
  font-size: 14px;
}

img {
  width: 100%;
  border-radius: 50%;
}

.escola {
  text-align: center;
  padding: 24px 0px 10px 0px;
}

.aprovacao {
  margin: 8px 0;
  padding: 8px;
  color: #E8EBED;
  border-radius: 8px;
  text-align: center;
}

.aprovado {
  background-color: #156915;
}

.reprovado {
  background-color: #ad2e2e;
}