* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body  {
  padding: 20px;
}

p, h1 {
  margin-bottom: 10px;
}

p {
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  color: cornflowerblue;
  font-family: "Combo", system-ui;
  font-weight: 400;
  font-style: normal;
}

#idContent {
  background-color: black;
  color: chartreuse;
  padding: 30px;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}