:root {
  --primary-700: #192f48;
  --primary-500: #213E60;
  --secondary: #E69C3A;

  --bg: #F4F2EF;

  --text-primary: #333333;
  --text-secondary: #ECE7E2;
  --text-hover: #bd830e;

  --white: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
}

.sidebar {
  width: 20vw;
  color: var(--text-secondary);
}

.perfil {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-700);
}

.perfil img {
  max-width: 100%;
  border-radius: 50%;
}

.perfil p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.perfil span {
  margin-top: 4px;
  font-size: 10px;
}

.navegacao {
  height: 100vh;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  background-color: var(--primary-500);
}

.navegacao button {
  background: none;
  text-align: start;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--text-secondary);
  cursor: pointer;
}

.dashboard {
  border: solid 1px red;
  width: 100%;
  background-color: var(--bg);
}

.dashboard .nav {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  background-color: var(--white);
}

.nav .nav-button {
  width: fit-content;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  color: var(--text-primary);
  background-color: var(--bg);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cards .card {
  width: 300px;
  margin: 16px;
  padding: 12px 8px;
  color: var(--text-primary);
  background-color: var(--white);
  border-left: 6px solid var(--secondary);
  box-shadow: -1px 4px 9px -1px rgba(0,0,0,0.44);
}

.card span {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.card p {
  padding: 18px;
  font-size: 52px;
  text-align: center;
  letter-spacing: 2px;
}

/* .card .estoque {
  font-size: 48px;
  letter-spacing: 0px;
} */