* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  margin: 100px;
}

.container-form {
  max-height: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #063C72;
  color: #FFF;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 0;
}

.logo p {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0;
}

.logo > span {
  font-size: 12px;
  margin-top: -10px;
  letter-spacing: 2px;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #063C72;
}

input::placeholder {
  color: #1361ae;
}

.email {
  margin-top: 48px;
  padding: 10px;
  border-bottom: solid 2px #FFF;
}

.password {
  padding: 10px;
  margin-top: 36px;
  border-bottom: solid 2px #FFF;
}

.button-login {
  width: 100%;
  padding: 10px;
  margin-top: 48px;
  border-radius: 4px;
  border: none;
  background-color: #D99100;
  color: #FFF;
  transition: all ease 0.2s;
}

.button-login:hover {
  background-color: #ac7300;
}

.container-side {
  padding: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 48px;
  background-color: #EFEDED;
}

.container-side p {
  width: 100%;
  padding: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  background-color: #D99100;
  color: #FFF;
}

.container-side > img {
  width: 250px;
}

.cadastro {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.cadastro span, a {
  font-size: 10px;
  color: #FFF;
}

.cadastro a:hover {
  color: #ac7300;
}