:root {
  --primary: #213E60;
  --secondary: #E69C3A;

  --bg: #F4F2EF;

  --text-primary: #333333;
  --text-secondary: #ECE7E2;
  --text-hover: #bd830e;

  --white: #FFF;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg);
}

.row {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  max-width: 500px;
  padding: 36px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--primary);
  color: #FFF;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.logo p {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0;
}

.logo > span {
  font-size: 12px;
  margin-top: -10px;
  letter-spacing: 2px;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--primary);
}

input::placeholder {
  color: #5779a0;
}

.email {
  margin-top: 48px;
  padding: 10px;
  border-bottom: solid 2px #FFF;
}

.password {
  padding: 10px;
  margin-top: 36px;
  border-bottom: solid 2px #FFF;
}

.button-login {
  width: 100%;
  padding: 10px;
  margin-top: 48px;
  border-radius: 4px;
  border: none;
  background-color: var(--secondary);
  color: var(--white);
  transition: all ease 0.2s;
}

.button-login:hover {
  background-color: var(--text-hover);
}

.container-side {
  max-width: 500px;
  padding: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 48px;
  background-color: var(--white);
  border-left: 8px solid var(--secondary);
}

.container-side p {
  width: 100%;
  padding: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  background-color: var(--secondary);
  color: var(--white);
}

.container-side > img {
  width: 250px;
}

.cadastro {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.cadastro span, a {
  font-size: 10px;
  color: var(--white);
}

.cadastro a:hover {
  color: var(--text-hover);
}