.title, footer {
  background-color: #2C3F70;
  color: #E8EBED;
  text-align: center;
  padding: 10px;
}

main {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 8px 10px;
  margin: 16px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #2C3F70;
  color: #E8EBED;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: #1a2643;
}