<h1 class="title">Sistema Alunos Proway</h1>

<div class="botoes">
  <button (click)="alterarExibicao()">
    Mostrar {{ exibicao == "cards" ? "Lista" : "Cards" }}
  </button>
  <button (click)="exibirAprovados()">
    Aprovados
  </button>
  <button (click)="exibirReprovados()">
    Reprovados
  </button>
  <button (click)="exibirListaCompleta()">
    Todos os alunos
  </button>
</div>
<main>
  <section class="cards" *ngIf="exibicao == 'cards'">
    <app-aluno *ngFor="let aluno of listaFiltrada" [aluno]="aluno"></app-aluno>
  </section>

  <section class="lista" *ngIf="exibicao == 'lista'">
    <app-aluno-lista [lista]="listaFiltrada"></app-aluno-lista>
  </section>
</main>

<footer>
  <p> - Desenvolvido por Luis - </p>
</footer>