<table>
  <tr>
    <th>Matrícula</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Curso</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>{{ alunos[0].matricula }}</td>
    <td>{{ alunos[0].nome }}</td>
    <td>{{ alunos[0].email }}</td>
    <td>{{ alunos[0].cursos}}</td>
    <td>{{ alunos[0].cadastro ? "Aprovado" : "Reprovado" }}</td>
  </tr>
  <tr>
    <td>{{ alunos[1].matricula }}</td>
    <td>{{ alunos[1].nome }}</td>
    <td>{{ alunos[1].email }}</td>
    <td>{{ alunos[1].cursos}}</td>
    <td>{{ alunos[1].cadastro ? "Aprovado" : "Reprovado" }}</td>
  </tr>
  <tr>
    <td>{{ alunos[2].matricula }}</td>
    <td>{{ alunos[2].nome }}</td>
    <td>{{ alunos[2].email }}</td>
    <td>{{ alunos[2].cursos}}</td>
    <td>{{ alunos[2].cadastro ? "Aprovado" : "Reprovado" }}</td>
  </tr>
  <tr>
    <td>{{ alunos[3].matricula }}</td>
    <td>{{ alunos[3].nome }}</td>
    <td>{{ alunos[3].email }}</td>
    <td>{{ alunos[3].cursos}}</td>
    <td>{{ alunos[3].cadastro ? "Aprovado" : "Reprovado" }}</td>
  </tr>
</table>


